<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <label>Your email</label> <br>
        <input type="text" name="email"><br>
        <label>User Name</label> <br>
        <input type="text" placeholder="e.g: Batman" name="username"> <br>
        <label>Password</label> <br>
        <input type="password" placeholder="e.g:abc12H" name = "password"> <br>
        <button>Create New Account</button> <br>
    </form>

</body>
</html>